.input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      width: 100%;
      margin: 0 auto;
      padding: 20px 15px 15px 15px;

      .err {
            display: block;
            background: $red;
            color: $white;
            padding: 10px;
            border-radius: 0 6px;
            margin-bottom: 10px;

            &::after {
                content: '';
                position: absolute;
                top: 55px;
                left: 55px;
                border: 10px solid transparent;
                border-top: 10px solid $red;
            }

      }

      #message {
            display: block;
            width: 100%;
            height: 102px;
            padding: 6px 12px;
            font-size: 13px;
            background: $whitesmoke;
            border: 2px solid $whitesmoke;
            border-radius: 6px;
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            resize: none;
            outline: none;

            &:focus {
                border: 2px solid $lightGreen;
            }

      }

      .letterCount {
            display: block;
            float: left;
            margin-top: 12px;
            width: 50%;
            color: $gray;
      }

      .sendBtn {
            display: block;
            float: left;
            margin-top: 10px;
            width: 50%;
            color: $gray;
            text-align: right;

            #btn {
                cursor: pointer;
                background: $blue;
                color: white;
                border: 0;
                padding: 4px 18px;
                border-radius: 15px;
                outline: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-transition: color .1s linear, border-color .1s linear, background-color .1s linear;
                -o-transition: color .1s linear, border-color .1s linear, background-color .1s linear;
                transition: color .1s linear, border-color .1s linear, background-color .1s linear;

                &:hover {
                    background: #2e9bda;
                }

                &:active {
                    background: #1072ab;
                }

            }

      }

}
